<div class="bg-white">
  <main class="pt-4 pb-16">
    <div class="mx-auto max-w-2xl px-4 pt-10 sm:px-6 lg:grid lg:max-w-7xl lg:grid-cols-4 lg:grid-rows-[auto,auto,1fr] lg:gap-x-24 lg:px-8 lg:pt-8">
      <div class="lg:col-span-2">
        <h2 class="text-3xl font-medium leading-6 text-gray-900">Confirm and pay</h2>

        <div class="mt-12">
          <h3 class="text-2xl font-medium leading-6 text-gray-900">Your trip</h3>
          <div class="flex justify-between mt-4">
            <p class="font-medium">Dates</p>
            <p class="font-medium"><%= @checkin_date.strftime('%e %b') %> - <%= @checkout_date.strftime('%e %b') %></p>
          </div>
        </div>

        <div class="mt-12 border-t border-gray-300 pt-12">
          <h3 class="text-2xl font-medium leading-6 text-gray-900">Pay with</h3>
        </div>

        <div class="mt-12 border-t border-gray-300 pt-12">
          <h3 class="text-2xl font-medium leading-6 text-gray-900">Ground rules</h3>
          <p class="mt-8 font-light">
            We ask every guest to remember a few simple things about what makes a great guest.
          </p>
          <ul class="font-light list-disc ms-4 mt-4">
            <li>
              Follow the house rules
            </li>
            <li>
              Treat the Host's home like your own
            </li>
          </ul>
        </div>

        <button
          type="submit"
          class="mt-12 flex w-full items-center justify-center rounded-md border border-transparent bg-primary px-8 py-3 text-base font-medium text-white hover:bg-primary-dark focus:outline-none focus:ring-2 focus:ring-primary focus:ring-offset-2"
        >
          Confirm and pay
        </button>

      </div>


      <div class="mt-4 lg:mt-0 border border-gray-300 lg:col-span-2 rounded-xl p-6 h-min">
        <h2 class="sr-only">Bookig information</h2>
        <p class="text-lg font-light tracking-tight text-gray-900"><span class="text-2xl font-medium mr-1"><%= humanized_money(@property.price) %> <%= currency_symbol %></span>night</p>

          <div class="mt-12">
            <h3 class="text-xl font-medium leading-6 text-gray-900">Price details</h3>
            <div class="flex justify-between font-light mt-6">
              <p><%= humanized_money(@property.price) %> <%= currency_symbol %> x <%= @total_nights %> night </p>
              <p><%= humanized_money(@base_fare) %> <%= currency_symbol %></p>
            </div>
            <div class="flex justify-between font-light mt-4">
              <p>Airbnb service fee</p>
              <p><%= humanized_money(@service_fee) %> <%= currency_symbol %></p>
            </div>
          </div>
          <div class="relative py-6">
            <div class="absolute inset-0 flex items-center" aria-hidden="true">
              <div class="w-full border-t border-gray-300"></div>
            </div>
          </div>
          <div class="flex justify-between font-medium">
            <p>Total</p>
            <p><%= humanized_money(@total_amount) %> <%= currency_symbol %></p>
          </div>
      </div>
  </main>
</div>
