<div class="bg-white">
  <main class="pt-4 pb-16">
    <!-- Headline + Share + Wishlist -->
    <div class="flex justify-between mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8 py-2">
      <h1 class="inline text-3xl font-medium leading-7 text-gray-900 sm:truncate sm:tracking-tight"><%= @property.headline %></h1>
      <div class="space-x-1">
         <span
          data-controller="share"
          data-action="click->share#toggleShareModal"
          class="px-3 pt-2 pb-3 hover:rounded-md hover:bg-gray-100 cursor-pointer"
        >
          <svg xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="size-4 inline">
            <path d="M13 4.5a2.5 2.5 0 1 1 .702 1.737L6.97 9.604a2.518 2.518 0 0 1 0 .792l6.733 3.367a2.5 2.5 0 1 1-.671 1.341l-6.733-3.367a2.5 2.5 0 1 1 0-3.475l6.733-3.366A2.52 2.52 0 0 1 13 4.5Z" />
          </svg>
          <span class="underline text-sm ms-1">Share</span>
        </span>

        <span
          class="px-3 py-2 hover:rounded-md hover:bg-gray-100 cursor-pointer"
          data-controller="wishlist"
          data-user-logged-in="<%= user_signed_in? %>"
          data-property-id="<%= @property.id %>"
          data-user-id="<%= current_user&.id %>"
          data-wishlist-id="<%= @property.wishlists.find_by(user: current_user)&.id %>"
          data-action="click->wishlist#updateWishlistStatus"
          data-status="<%= @property.wishlisted_by?(current_user) %>"
        >
          <svg xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="gray"
            class="size-5 inline <%= @property.wishlisted_by?(current_user) ? 'fill-primary' : 'fill-none' %>"
            data-wishlist-target="icon"
          >
          <path stroke-linecap="round"
            stroke-linejoin="round"
            d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" />
          </svg>
          <span
            class="underline text-sm ms-1"
            data-wishlist-target="text"
          >
            <%= @property.wishlisted_by?(current_user) ? 'Saved' : 'Save' %></span>
        </span>
      </div>
    </div>
    <!-- Image gallery -->
    <div class="mx-auto mt-6 max-w-2xl sm:px-6 lg:grid lg:max-w-7xl lg:grid-cols-4 lg:gap-x-2 lg:px-8">
      <div class="aspect-h-2 aspect-w-3 overflow-hidden rounded-l-lg lg:block col-span-2">
        <%= image_tag @property.images[0], class: "h-full w-full object-cover object-center" %>
      </div>
      <div class="hidden lg:grid lg:grid-cols-1 lg:gap-y-2">
        <div class="aspect-h-2 aspect-w-3 overflow-hidden">
          <%= image_tag @property.images[1], class: "h-full w-full object-cover object-center" %>
        </div>
        <div class="aspect-h-2 aspect-w-3 overflow-hidden">
         <%= image_tag @property.images[2], class: "h-full w-full object-cover object-center" %>
        </div>
      </div>
     <div class="hidden lg:grid lg:grid-cols-1 lg:gap-y-2">
        <div class="aspect-h-2 aspect-w-3 overflow-hidden rounded-tr-lg">
          <%= image_tag @property.images[3], class: "h-full w-full object-cover object-center" %>
        </div>
        <div class="aspect-h-2 aspect-w-3 overflow-hidden rounded-br-lg">
         <%= image_tag @property.images[5], class: "h-full w-full object-cover object-center" %>
        </div>
      </div>
    </div>

    <!-- Property info -->
    <div class="mx-auto max-w-2xl px-4 pt-10 sm:px-6 lg:grid lg:max-w-7xl lg:grid-cols-3 lg:grid-rows-[auto,auto,1fr] lg:gap-x-8 lg:px-8 lg:pt-8">
      <div class="lg:col-span-2 lg:border-r lg:border-gray-200 lg:pr-8">
        <h2 class="text-xl font-medium leading-6 text-gray-900 sm:truncate"><%= @property.name %>, <%= @property.country %></h2>
        <div class="mt-1 font-light">
          <%# TODO: add checks: check if any value is 0 or if is 1, singular and plurial %>
          <%= @property.guest_count %> guests 路 <%= @property.bedroom_count %> bedrooms 路 <%= @property.bed_count %> beds 路 <%= @property.bathroom_count %> bathrooms
        </div>
        <div class="mt-1 flex text-base items-center">
          <svg xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="size-3 me-1"
          >
            <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401Z" clip-rule="evenodd"/>
          </svg>
          <% if @property.reviews_count != 0 %>
          <span class="font-medium"> <%= (@property.average_final_rating).round(2) %> 路 <span class="underline"><%= @property.reviews_count %> reviews</span>
          </span>
          <% else %>
            <span class="font-light">No reviews yet</span>
          <% end %>
        </div>
      </div>

      <!-- Booking Component -->
      <div class="mt-4 lg:row-span-3 lg:mt-0">
        <h2 class="sr-only">Bookig information</h2>
        <p class="text-3xl tracking-tight text-gray-900">$192</p>
        <button type="submit" class="mt-10 flex w-full items-center justify-center rounded-md border border-transparent bg-indigo-600 px-8 py-3 text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Add to bag</button>
      </div>

      <div class="py-10 lg:col-span-2 lg:col-start-1 lg:border-r lg:border-gray-200 lg:pr-8">
        <!-- Description and details -->
        <div class="border-t border-gray-200 pt-10 mt-4">
          <h3 class="sr-only">Description</h3>

          <div class="space-y-6">
            <p class="text-base text-gray-900"><%= @property.description.to_plain_text.truncate(400) %></p>
            <% if @property.description.to_plain_text.length > 400 %>
              <div
                class="flex items-center gap-1"
                data-controller="description"
                data-action="click->description#toggleDescriptionModal"
              >
                <span class="font-medium underline cursor-pointer">Show more</span>
                <svg xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  class="size-5">
                  <path fill-rule="evenodd" d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                </svg>
              </div>
              <%= render 'shared/modal', modalTriggerId: "description", content: "properties/description_modal", content_params: {description: @property.description} %>
            <% end %>
          </div>
        </div>
      </div>

      <!-- Amenities -->
      <%= render :partial => 'properties/amenities', :locals => {:amenities => @property.amenities}  %>
    </div>

      <!-- Reviews -->
      <%= render :partial => 'properties/reviews', :locals => {:property => @property}  %>
      <%= render 'shared/modal', modalTriggerId: "share", content: 'properties/share_modal', content_params: { property: @property } %>
  </main>
</div>
